body {
    background-color:#ECF2FF;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 6px;
    height: 0px;
    width: 4%;
}

h1, h2 {
    color: #66bfbf;
    font: verdana;
    font-size: x-large;
    font-style: oblique;
}
